* {
    margin:0;
    padding:0;
}

:root {
    --dark-color: #bae6fd;
    --medium-color: #e0f2fe;
    --light-color:#f0f9ff;
    --contrast-color: #fdd1ba;
}

body{
    display: flex;
    flex-direction: column;
    height:100vh;
}

.container {
    display: grid;
    grid-template: 1fr 8fr / 1fr 6fr;
    height: 100vh;
}

/* HEADER */
.header {
    background-color: blue;
    grid-column: 2 / 3;
}

/* SIDEBAR */
.sidebar {
    background-color: yellow;
    grid-row: 1/3;
}

/* CONTENT */
.content-container {
    background-color: green;
}

/* DIALOG */
dialog{
    margin: auto;    
}











/* FOOTER */
.footer {
    justify-self: flex-end;
}